<h1>Welcome to Prodigal Voice</h1>
<img class="clientLogo" src="googleLogo.png" />
<div class="textContent">
  Username: <%-username%>
  <br />
  Password: <%-password%>
</div>
<br />
<a href="https://voice.prodigaltech.com/login">
  <button class="loginButton" type="button">Click to get started</button>
</a>
